.intro-container {
    padding: 0 75px;
}
.icon-container {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.icon {
    width: 30px;
    color: rgb(58, 59, 59);
    margin-right: 25px;
    cursor: pointer;
}
.main-title {
    font-family: 'Chewy', cursive;
    font-size: 72px;
    background: linear-gradient(180deg, rgb(98, 104, 147, 1) 25%, rgb(98, 104, 147, 1) 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subtitle {
    font-family: 'Chewy', cursive;
    font-size: 48px;
    background: linear-gradient(180deg, rgb(98, 104, 147, 1) 25%, rgb(98, 104, 147, 1) 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-img {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    display: block;
    margin-top: 50px;
}

.icon-stack-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(75px,1fr));
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    row-gap: 50px;
    justify-items: center;
    width: 75%;
    margin: auto;
}
.tech-icon {
    height: auto;
    object-fit: cover;
}

@media (max-width: 768px) {
    .intro-container {
        padding: 25px 25px;
    }
    .main-title {
        font-size: 46px;
        padding-top: 50px;
    }
    .subtitle {
        font-size: 28px;
    }
    .icon-stack-container {
        width: 100%;
    }
    
}

@media (min-width: 767px) and (max-width: 1200px){
    .main-title {
        padding-top: 50px !important;
    }
    .icon-stack-container {
        width: 100%;
    }
}