.header {
    padding: 20px 75px;
    position: fixed;
}

.menu-item {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

@media (max-width: 768px) {
    .header {
        padding: 20px 25px;
        position: fixed;
    }
}