span.underline-nice {
  background-image: linear-gradient(120deg, rgb(98, 104, 147, 0.1) 0%, rgb(98, 104, 147, 0.1) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.3em;
  background-position: 0 80%;
  transition: background-size 0.25s ease-in;
  width: fit-content;
}
